# Folders and misc files
.vscode
Makefile
/project1/code/output/*
/project1/code/Trash/*
project0
TODO.txt 

#Python files not to be included
run.py

# Latex dumb files and alike
*.aux
*.fdb*
*.fls
*.synctex.gz
*.toc
*.log
*.bib
*.blg
*.dvi
*.bbl

# Accompaning latex files
report.txt
report.pdf
preamble.tex
table.txt
report.out

# C++ files
*.x
*.o
