# Exlude files with no extensions
*
!/**/
!*.*

# Folders and misc files
.vscode
Makefile
/project1/code/output/*
/project1/code/Trash/*
/project1/report/*
/pdf
/catch
project0
TODO.txt 
test.txt


# Projects added to ignore after handed in
/project1/*
#Python files not to be included
run.py
test.py

# Latex dumb files and alike
*.aux
*.fdb*
*.fls
*.synctex.gz
*.toc
*.log
*.bib
*.blg
*.dvi
*.bbl

# Accompaning latex files
report.txt
preamble.tex
table.txt
report.out

# C++ files
*.x
*.o
test.cpp

